:root {
  --tile-size: 7em;
}

.grid {
  font-size: 10px;
  width: calc(var(--tile-size) * 10);
  aspect-ratio: 1;
  background: #ccc;
  position: relative;
}

.tile {
  display: grid;
  width: var(--tile-size);
  aspect-ratio: 1;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.2s ease-out;
  filter: drop-shadow(0 0.5em 0.4em rgba(0,0,0,1));
}

.tile-content {
  --rotate: -1deg;
  --scale: 1.05;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background:#fff;
  transition: transform 0.2s ease-out;
  transform: rotate(var(--rotate)) scale(var(--scale));
}

.tile-content::before {
  content: 'T';
}

.tile.is-placed {
  filter: drop-shadow(0 0 0 rgba(0,0,0,0));
}

.tile.is-placed .tile-content {
  transform: none;
}

.tile.invalid-placement .tile-content {
  animation: shake-x 0.5s ease-in-out;
}

@keyframes shake-x {
  0%, 100% { transform: rotate(var(--rotate)) scale(var(--scale)); }
  20% { transform: translateX(-20%) rotate(var(--rotate)) scale(var(--scale)); }
  40% { transform: translateX(20%) rotate(var(--rotate)) scale(var(--scale)); }
  60% { transform: translateX(-20%) rotate(var(--rotate)) scale(var(--scale)); }
  80% { transform: translateX(20%) rotate(var(--rotate)) scale(var(--scale)); }
}